@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}
footer {
  background: #8e2de2;
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to right, #4a00e0, #8e2de2);
}
.typed-cursor {
  color: #7c3aed;
}

.blurs {
  /* background: black; */
  /* background: rgba(0, 0, 0, 0.2); */
  filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px);
}
.col {
  position: relative;
}
.col a img {
  max-width: 100%;
  width: 550px;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}
.overlay {
  background: transparent;
  height: 100%;
  width: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  transition: all 0.4s;
}
.overlay:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, #191919);
}
.overlay i {
  position: absolute;
  width: 100%;
  font-size: 40px;
  font-weight: 500;
  color: white;
  bottom: 10px;
  left: 70%;
  top: 30%;
  transform: translate(-50%);
  opacity: 0;
  transition: all 0.4s;
}
.overlay:hover i {
  bottom: 48%;
  opacity: 1;
}
